<div class="app-card-container">
  <div class="card">

    <h1>About Me</h1>
    <hr>
    
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "John_bike.jpg", alt: "Profile Image", class: "profile-img" %>
        <div class="auth-links">
          <%= link_to "Home", root_path %>        
        </div>  
      </div>
      <div class="col-md-8">
        <p>
          After a decade and a half running my own online sales business and 
          developing PHP/MySQL apps on the side, I am ready to go back full-time 
          into the IT world. 
          I have spent most of 2017 re-educating myself in development through
          LaunchSchool bootcamp and various books and tutorials.
          I have discovered Ruby and JavaScript coding. Solving problems is my favorite pastime
          in any language.
        </p>
        <p>
          I live in the upstate New York town of Glens Falls, and I enjoy playing 
          classical piano, bicycling, and making stained glass.
        </p>
        <p>
          Thanks for reading!<br>
          John
        </p>
        
        <p>
          <button 
            class=          "btn btn-success"
            id=             "jobHistoryButton"
            type=           "button"
            data-toggle=    "collapse"
            data-target=    "#jobHistory"
            aria-expanded=  "false"
            aria-controler= "jobHistory"
          >
            Job History
          </button>

          <button 
            class=          "btn btn-info"
            id=             "educationButton"
            type=           "button"
            data-toggle=    "collapse"
            data-target=    "#education"
            aria-expanded=  "false"
            aria-controler= "education"
          >
            Education
          </button>
          <%= link_to "My Portfolio", portfolios_path, class: "btn btn-warning" %>
        </p>  
        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block text-success">
              Freelance PHP/MySQL Developer, 2005-2017
            </div>
            <div class="card card-block text-success">
              Owner/Partner of Symphonyscents.com, a craft supply website, 2000-2016
            </div>
            <div class="card card-block text-success">
              Linux System Admin, OLM Company, 1998-2004
            </div>
            <div class="card card-block text-success">
              C Software Developer, Excelsior Software, 1996-1998
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block text-info">
              Completed backend and frontend main courses at LaunchSchool.com bootcamp, 2017
            </div>
            <div class="card card-block text-info">
              Completed online courses in Ruby/Rails at railstutorial.org, codecademy.com, and udemy.com, 2017
            </div>
            <div class="card card-block text-info">
              PHP Certified Developer, 2008
            </div>
            <div class="card card-block text-info">
              BA in Mathematics (Minor in Computer Science), University of Rochester, 1990
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
