<h1>About Me</h1>


<div class="row">
  <div class="col-md-6">
    <%= image_tag "John_bike.jpg", alt: "Profile Image" %>
  </div>
  <div class="col-md-6">
     <p>I am a software developer living in Glens Falls, NY. My hobbies include playing
        piano, biking, and playing poker.
      </p>   
  </div>
</div>